.page_content {
    padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 80px;
    padding-left: 50px;
}

.blog_content {
    padding-top: 80px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 80px;
    padding-left: 50px;
    font-size: 1.2em;
}

.blog_img {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer_followme{

    font-size: 0.8em;
    padding-top: 20px;
    padding-bottom: 30px;
}


