<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br />

            <p>WallSync for JIRA Agile uses augmented reality to bring a physical card wall to life</p>

            <h4>No more</h4>


            <p>Spending your time doing admin, updating JIRA each day after your stand up<br/>

            Cards stuck "in progress", and you don't take timely actions to resolve the impediments<br/>

            Running stand ups with a keyboard and mouse, stifling real human interaction<br />

            Having items in JIRA in different statuses to your physical wall<br />

            <h4>Much more</h4>

            <p>Collaboration. Get your eyes away from your computer screen and get the benefits of collaborating and
                interacting by using physical cards
                With WallSync you can concentrate on being a team and trust that your JIRA data is correct while
                focussing on delivering great features.</p>
            <br />
        </div>
    </div>
</section>