<div id="page" class="container-fluid">
		<!-- Page header 
		<header id="header" class="ws-docuHeader" role="banner">
			<div class="aui-page-header-inner ws-docuHeader-inner">
				<i class="ws-logo ws-docuHeader-logo displayInline"></i>
				<h2 class="ws-docuTitle displayInline">Documentation</h2>
				<p class="ws-docuTitleDes displayInline">Learn how to use WallSync Capture to its full content</p>
			</div>
		</header>-->
		<!-- Main section -->
		<section id="content" role="main" class="ws-docuMainSection">
			<!-- AUI Sidebar -->
			<div class="aui-sidebar">
				<div class="aui-sidebar-wrapper">
					<div class="aui-sidebar-body">
						<!-- AUI Navigation -->
						<nav class="aui-navgroup aui-navgroup-vertical">
							<div class="aui-navgroup-inner">

								<!-- A Sidebar group will collapse into a single trigger icon when sidebar is collapsed -->
								<!-- The 'actions' sidebar group type will be styled differently from normal groups when sidebar is collapsed -->
								<div class="aui-sidebar-group aui-sidebar-group-actions">

									<!-- the AUI Nav heading will be used as the tooltip text -->
									<div class="aui-nav-heading" title="Introduction">
										<strong>Introduction</strong>
									</div>

									<!-- If a sidebar group does not have a nav heading, then the aui-nav's title attribute will be used
										 for the tooltip for the group -->
									<ul class="aui-nav" title="Page actions">
										<li>
											<a class="aui-nav-item" href="#" title="About Capture">About WallSync Capture</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#" title="Why Capture">Why WallSync Capture</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#" title="Capture Best Practices">Best Practices</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#" title="Capture Support">Support</a>
										</li>
									</ul>
								</div>

								<!-- A "Tier One" Sidebar group will display all of its nav items, but all nav items MUST have an AUI Icon
									 which will be used when the sidebar is collapsed -->
								<div class="aui-sidebar-group aui-sidebar-group-tier-one">

									<!-- in a "Tier One" Sidebar group, AUI Nav heading is ignored, and each nav item's label will be used
										 as the tooltip text instead -->
									<div class="aui-nav-heading" title="Tasks">
										<strong>Tasks</strong>
									</div>

									<ul class="aui-nav">
										<li class="aui-nav-selected">
											<a class="aui-nav-item" href="#">
												<!-- "Tier One" navigation items MUST have an AUI Icon before the text label -->
												<span class="aui-icon aui-icon-small aui-iconfont-preferences"></span>									
												<!-- "Tier One" Nav items labels also need an extra SPAN around them with the aui-nav-item-label class -->
												<span class="aui-nav-item-label">Sync app with mobile phone</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#" title="This is a really really long title for whatever this is">
												<span class="aui-icon aui-icon-small aui-iconfont-camera-filled"></span>
												<span class="aui-nav-item-label">Import your post-it notes</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-edit-filled"></span>
												<span class="aui-nav-item-label">Update your post-it notes</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-add-item"></span>
												<span class="aui-nav-item-label">Edit issue's summary</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-add-comment"></span>
												<span class="aui-nav-item-label">Edit issue's description</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-activity"></span>
												<span class="aui-nav-item-label">Edit issue's type</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-new-arrow-up"></span>
												<span class="aui-nav-item-label">Prioritise issue</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-people"></span>
												<span class="aui-nav-item-label">Assign member to issue</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-issue-raise"></span>
												<span class="aui-nav-item-label">Add issue to sprint</span>
											</a>
										</li>
										<li>
											<a class="aui-nav-item" href="#">
												<span class="aui-icon aui-icon-small aui-iconfont-page-layout-toggle"></span>
												<span class="aui-nav-item-label">Update issue's status</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>

					<!-- Sidebar footer contains the expand/collapse trigger, and optionally a button or a dropdown with configuration settings -->
					<div class="aui-sidebar-footer">
						<a href="http://example.com" class="aui-button aui-button-subtle aui-sidebar-settings-button" title="Settings">
							<span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
							<span class="aui-button-label">Settings</span>
						</a>
						<a class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar (?[?)">
							<span class="aui-icon aui-icon-small"></span>
						</a>
					</div>
				</div>
			</div><!-- end AUI Sidebar -->
        
			<div class="aui-page-panel ac-docu-page-panel">
				<div class="aui-page-panel-inner">
					<section class="aui-page-panel-content">
						<!-- About -->
						<div class="ws-docu-section ws-docu-about">
							<h3>About WallSync Capture</h3>
							<p>Capture app lets you quickly capture post-it notes on your physical wall and generate issues in your Jira board. Capture is located at Jira navigation panel on the left hand side when you have entered a project page.</p>
							<p></p>
							<img class="where-is-capture-img"></img>
						</div>
						<!-- Why Capture -->
						<div class="ws-docu-section ws-docu-why">
							<h3>Why WallSync Capture</h3>
							<p>WallSync Capture gives you the following benefits:</p>
							<ul>
								<li>Quickly sync your physical post-it notes to Jira</li>
								<li>Tooling to manage issues in Jira</li>
							</ul>
						</div>
						<!-- Best Practices -->
						<div class="ws-docu-section ws-docu-best-practice">
							<h3>Best Practices</h3>
							<p>You should keep in mind the following best practices:</p>
							<ul>
								<li>Tip 1</li>
								<li>Tip 2</li>
							</ul>
						</div>
						<!-- Support -->
						<div class="ws-docu-section ws-docu-support">
							<h3>Support</h3>
							<p>You can reach WallSync support team for help by:</p>
							<ul>
								<li>Send emails to</li>
								<li>Go to Support site</li>
							</ul>
						</div>
						<!-- Sync app -->
						<div class="ws-docu-section ws-docu-sync-app">
							<h3>Sync app with mobile phone</h3>
							<p>Here are steps to install the mobile app and connect to our Capture app</p>
							<ul>
								<li>Install Capture from app store</li>
								<li>Connect to Jira account</li>
								<li>Verify successful sync</li>
							</ul>
						</div>
						<!-- Import notes -->
						<div class="ws-docu-section ws-docu-import-notes">
							<h3>Import your post-it notes</h3>
							<p>Import your current physical wall of post-it notes into Capture plugin by:</p>
							<ul>
								<li>Open the phone app</li>
								<li>Point the camera at the wall</li>
								<li>Click Capture</li>
								<li>Confirm the captured columns of cards</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Update notes -->
						<div class="ws-docu-section ws-docu-update-notes">
							<h3>Update your post-it notes</h3>
							<p>Your physical wall has changed since the previous workshop, update Capture plugin by:</p>
							<ul>
								<li>Open the phone app</li>
								<li>Point the camera at the wall</li>
								<li>Click Capture</li>
								<li>Confirm the captured columns of cards</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue summary -->
						<div class="ws-docu-section ws-docu-issue-sum">
							<h3>Edit issue's summary</h3>
							<p>You can make changes to an issue's summary</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit summary</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue description -->
						<div class="ws-docu-section ws-docu-issue-des">
							<h3>Edit issue's description</h3>
							<p>You can make changes to an issue's description</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit description</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue type -->
						<div class="ws-docu-section ws-docu-issue-type">
							<h3>Edit issue's type</h3>
							<p>You can make changes to an issue's type</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit type</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue priority -->
						<div class="ws-docu-section ws-docu-issue-priority">
							<h3>Prioritise issue</h3>
							<p>You can make changes to an issue's priority</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit priority</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue assignee -->
						<div class="ws-docu-section ws-docu-issue-assignee">
							<h3>Assign member to issue</h3>
							<p>You can make changes to an issue's assignee</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit assignee</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue sprint -->
						<div class="ws-docu-section ws-docu-issue-sprint">
							<h3>Add issue to sprint</h3>
							<p>You can assign issue to a sprint</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit sprint</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
						<!-- Edit issue status -->
						<div class="ws-docu-section ws-docu-issue-status">
							<h3>Update issue's status</h3>
							<p>You can update issue status</p>
							<ul>
								<li>Click on the card</li>
								<li>Click icon edit</li>
								<li>Edit status</li>
								<li>Click OK to confirm</li>
							</ul>
						</div>
					</section>
				</div>
			</div>

		</section>
		
		<!-- Page footer -->
		<footer id="footer" role="contentinfo">
			<section class="footer-body">
			</section>
		</footer>
</div>