<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Flow Technologies - All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                <!--Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>. -->
            </div>
        </div>
    </div>
</footer>

<div class="fixme panel panel-danger">
    <h1><strong>NEWS:</strong> Now for JIRA Agile</h1>
    <br />
    <a href="https://marketplace.atlassian.com/plugins/wallsync-for-jira" target="_blank"><img src="/img/documentation/marketplace_available_light_140x60.png" /></a>
    <h2><strong>100%</strong> of sales $$s we get in May and June go to the <a href="http://redcross.org.au/nepal-earthquake-2015.aspx">Nepal Earthquake appeal</a></h2>
</div>
