<footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <img src="/images/Logo - Dark 2.png" class="footer-logo img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="col-12 col-sm-12 col-md-4 ">
                    <p class="footer-text"><a href="mailto:magic@wallsync.net" >Questions? <strong>Email
                            us</strong> </a></p>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <p class="footer-text">Copyright WallSync 2019</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <p class="footer-text"><a  href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </footer>
